  /* body{
   height: 100vh;
   width: 100vw; */
   /* background-color: blueviolet; */
/* } */
/* 
.top-container{
   height: 75%;
   width: 100%;  */
    /* background-color: green   */
/* } */
/* .middle-container{
   height: 200px;
   width: 200px; 
    background-color: red;  
}
.bottom-container{
   height: 200px;
   width: 200px; 
    background-color: blue; 
}  */

